#activity_section {
    display: flex;
}

#activity_main_content {
    display: flex;
    height: 89vh;
    gap: 5px;
}

#activity_left_side_sec {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cultivation_process {
    flex: 1;
}

#cultivation_process_container {
    width: 100%;
    height: 735px;
}

#cultivation_process_top {
    height: 6%;
    display: flex;
}

#cultivation_process_top>button {
    width: 35px;
    height: 35px;

    font-weight: bolder;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #e3e3e3;
    color: #989898;

    align-self: center;
}

#cultivation_process_top>h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #5A5A5A;

    margin-bottom: 0;
    margin-left: 15px;
    align-self: center;
}

#cultivation_process_bottom {
    height: 94%;
    display: flex;
}

#activity_right_side_sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#activity_graphs {
    flex: 0 0 40%;
    display: flex;
    gap: 5px;
}

#activity_fields_stat, #activity_staff_stat {
    flex: 1;
}

#cultivated_props {
    flex: 1;
}

        /*assigned staff style*/

#activity_staff_stat {
    box-sizing: border-box;
    padding: 12px 14px;
}


.item_desc {
    font-size: 14px;
    font-weight: bolder;
    color: #767676;
}

.item_emoji {
    width: 30px;
    height: 30px;
    border-radius: 50px;

    font-size: 14px;
    color: white;
    box-sizing: border-box;
    margin-left: 48px;
    padding: 6px;
}

.item_count {
    width: 78px;
    height: 78px;

    border-radius: 50px;
    box-sizing: border-box;
    padding: 19px;
    margin-top: -23px;

    font-weight: bold;
    color: white;
}

.activity_custom_header {
    font-size: 23px;
    font-weight: bolder;
    color: #858585;
}

#staff_and_equipments {
    box-sizing: border-box;
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
}

#activity_staff_count>i {
    border: 3px solid #D0D0FF;
    background-color: #35353A;
}

#activity_staff_count>h2 {
    background-color: #35353A;
    border: 5px solid #D0D0FF;
}

#activity_equipment_count>i {
    background-color: #57577A;
    border: 3px solid #E4E4FF;
}

#activity_equipment_count>h2 {
    background-color: #57577A;
    border: 5px solid #E4E4FF;
}

#staff_vehicle {
    display: flex;
    justify-content: center;
}

#activity_vehicle_count>i {
    background-color: #4242AD;
    border: 3px solid #C9C9FB;
}

#activity_vehicle_count>h2 {
    background-color: #4242AD;
    border: 5px solid #C9C9FB;
}

#cultivation_process {
    padding: 20px;
}

                        /*Cultivation field list*/

#cultivation_process_header {
    display: flex;
}

#cultivation_header_left {
    width: 50%;
}

#cultivation_header_left>p {
    color: gray;
}

#cultivation_header_right {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-content: end;
    flex-wrap: wrap;
}

#cultivation_header_right>div {
    width: 100%;
    border: 2px solid #e3e3ef;
    border-radius: 25px;
    overflow: hidden;
}

#cultivation_header_right>div>form>input {
    border: 0;
}

#cultivation_header_right>div>form>button {
    width: 40px;
    background-color: white !important;
    color: #707070;
    border: 0;
}

#cultivation_process_header>div>h1 {
    width: fit-content;
    font-size: 28px;
    font-weight: bold;
    color: #515151;
}

#uncultivated_field_list {
    height: 704px;
    /*border: 2px solid red;*/
}

::-webkit-scrollbar {
    /*width: 5px;*/
}

#uncultivated_field_items {
    height: 100%;
    width: 100%;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 13px;
}

                    /*uncultivated field card*/

.uncultivated_field_card {
    width: 270px;
    height: 220px;
}

.field_card_head {
    height: 0;
}

.field_card_head>div {
    width: 225px;
    height: 123px;

    position: relative;
    object-fit: cover;
    overflow: hidden;

    border-radius: 10px;
    z-index: 2;
    margin-left: 10px;
    border: 3px solid #cfffdb;
}

.field_card_head>div>img {
    width: 100%;
    height: 110%;

    object-fit: cover;
    transition: height 0.4s ease;
}

.field_card_head>div>img:hover {
    height: 120%;
    transition: height 0.4s ease;
}

.field_card_body {
    height: 216px;
    background-color: white;
    border: 2px solid #ebebeb;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 15px 80px 30px 30px;
}

.field_card_body>h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #4b4b4b;
    margin-top: 121px;
}

.field_card_body p {
    font-weight: bold;
    margin: 0;
}

.field_card_body>div {
    display: flex;
    justify-content: space-between;
}

.field_card_body>div>div>div {
    display: flex;
}

.field_card_body>div>div>div>i {
    margin-right: 10px;
}

.field_card_body>div>div>div:last-child>i {
    color: red;
}

.field_card_body>div>button {
    width: 40px;
    height: 40px;
    border-radius: 50px;

    color: white;
    font-weight: bolder;
    font-size: 24px;

    border: 0;
    background-color: #2CAED1;
}

                            /*cultivated properties*/

#cultivated_props {
    padding: 14px;
}

#cultivated_props>div:first-child {
    display: flex;
}

#cultivated_props_left {
    width: 50%;
}

#cultivated_props_left>h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #5f5f5f;
}

#cultivated_props_left>p {
    color: gray;
}

#cultivated_props_right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: end;
    flex-wrap: wrap;
}

#cultivated_props_right>div {
    margin-right: 5px;
}

#cultivated_field_list {
    height: 399px;
}

::-webkit-scrollbar {
    /*width: 5px;*/
}

#cultivated_field_items {
    width: 100%;
    height: 100%;
    overflow: auto;
}
                                                    /*Cultivation process */

#cultivation_details {
    width: 100%;
}

#field_img {
    width: 360px;
    height: 165px;

    overflow: hidden;
    margin: 18px 0;
    border-radius: 7px;
}

#field_img>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#field_details {
    width: 100%;
    height: 85px;

}

#field_details>h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #515151;
    margin-bottom: 5px;
}

#field_details div {
    margin-top: 10px;
    display: flex;
}

#field_details>div>div {
    margin-left: 10px;
    font-weight: bolder;
}

#field_details>div>div:first-child {
    color: #48484b;
}

#field_details>div>div>i {
    margin-right: 8px;
}

#field_details>div>div:last-child>i {
    color: red;
}

#proceed_btn {
    width: 100%;
    height: 55px;
    padding: 0 10px 0 0;
    margin-top: 10px;
}

#proceed_btn>button {
    width: 100%;
    height: 88%;
    border: 0;
    border-radius: 4px;

    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #32CD32;
}

#proceed_btn>button:hover {
    background-color: #23a623;
}

#field_details>div>div>p {
    margin: 0;
}

#crop_details_component {
    height: 140px;
}

.custom_header_main_prc {
    font-size: 12px;
    color: #7d7d7d;
}

#crop_details_component>div {
    display: flex;
}

#crop_details_img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 11px;
    overflow: hidden;
}

#crop_details_img>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#crop_details {
    padding: 15px 0;
    width: 210px;
}

#crop_details>p {
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 0;
}

#cultivation_crop_name {
    font-size: 25px;
    color: #059b0b;
}

#cultivation_crop_category {
    width: fit-content;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 15px;
    color: #323232;
    background-color: #ffff90;
}

#equipment_and_staff {
    display: flex;
}

#equipment_and_staff>div>i {
    color: black;
    font-size: 14px;
}

#equipment_and_staff>div>h2 {
    font-size: 22px;
    padding: 23px;
    margin-bottom: 0;
}

#cultivation_resources_crop {

}

.custom_component_body {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #e5e5e5;
}

.custom_component_body>p {
    font-size: 14px;

    color: #5A5A5A;
    margin-bottom: 5px;
}

#cultivation_resources_crop_and_equipment>p {
    margin: 0;
    font-weight: bolder;
    color: #767676;
}

#crop_details>div>div>i,h2 {
    /*color: black !important;*/
}

#cultivation_resources_data {
    width: 70%;
}

#cultivation_resources_data>div {
}

.custom_component_body>div>a {
    width: 100%;
}

#cultivation_resources_crop_and_equipment {
    height: 50%;
}

#cultivation_resources_crop_and_equipment>div {
    display: flex;
}

#cultivation_resources_crop_and_equipment>div>div {
    width: 50%;
    height: 320px;
}

#cultivation_resources_staff_data, #cultivation_resources_added_staff_data {
    height: 50%;
}

#assigning_crop>hr,#assigning_equipment>hr, #assigning_added_equipment>hr, #assigning_added_crop>hr {
    margin: 0;
}

#assign_crop_header,#assign_equipment_header, #assign_added_equipment_header, #assign_added_crop_header {
    display: flex;
}

#assign_crop_header>p,#assign_equipment_header>p, #assign_added_equipment_header>p, #assign_added_crop_header>p {
    margin-top: 5px;
    margin-right: 29px;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    /*width: 5px;*/
}

#assign_crop_body,#assign_equipment_body, #assign_added_equipment_body, #assign_added_crop_body {
    width: 100%;
    height: 190px;
    overflow: auto;
}

.assign_crop_and_equ_item {
    margin-top: 5px;
    display: flex;
}

.assign_crop_and_equ_name {
    width: 66px;
}

.assign_crop_and_equ_category {
    width: 90px;
}

.assign_crop_and_equ_season {
    width: 98px;
}

.assign_crop_and_equ_remove {
    width: 28px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    font-weight: bolder;
    background-color: #AFCFFF;
}

                    /*cultivated_field_card*/

.cultivated_field_card {
    height: 180px;
    margin-top: 13px;
    border: 2px solid #f3f3f3;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 8px;

    display: flex;
}

.cultivated_field_card:hover {
    background-color: #EFEFEF;
}

.cultivated_field_img {
    width: 30%;
    overflow: hidden;
    border-radius: 17px;
}

.cultivated_field_img>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.cultivated_field_details {
    box-sizing: border-box;
    padding-left: 10px;
    width: 55%;
}

.cultivated_field_details>p {
    margin: 0;
    font-size: 12px;
    font-weight: bolder;
    color: #979797;
}

.cultivated_field_plant_stat {
}

#activity_plant_count>div {
    margin-left: 10px;
}

#activity_plant_count>div>i {
    background-color: #43C337;
    border: 3px solid #99FF8F;
}

#activity_plant_count>div>h2 {
    background-color: #43C337;
    border: 5px solid #99FF8F;
}

.cultivated_field_name {
    font-size: 26px;
    font-weight: bold;
    color: #4f4f4f;
    margin: 0;
}

.field_location_and_size,.field_location_and_size>div {
    display: flex;
}

.field_location_and_size>div:last-child {
    margin-left: 20px;
}

.field_location_and_size>div:last-child>i {
    color: red;
}

.field_location_and_size>div>p {
    font-weight: bolder;
    color: #48484b;
}

.cultivated_field_size {
    margin: 0 0 0 4px;
}

.cultivated_field_location {
    margin: 0 0 0 4px;
}

.cultivated_field_harvest_stage {
    font-size: 23px;
    font-weight: bold;
    color: #2e9f2e;
    margin-bottom: 2px;
}

#cultivated_field_date_and_category {
    display: flex;
}

#cultivated_field_date_and_category>div {
    width: 50%;
    height: fit-content !important;
}

#cultivated_field_date_and_category>div:first-child>p:last-child {
    font-size: 15px;
    margin: 0;
    color: #454545;
    font-weight: bolder;
}

#cultivated_field_date_and_category>div:last-child>p:last-child {
    width: fit-content;
    height: fit-content;

    font-size: 13px;
    font-weight: bolder;

    color: #454545;
    background-color: #9AFF9A;

    border-radius: 3px;
    margin: 0;
    padding: 4px 10px;
}

#cultivated_field_date_and_category>div>p:last-child {
    margin: 0;
}

#cultivated_field_date_and_category>div>p:first-child {
    font-size: 13px;
    color: #9f9f9f;
    font-weight: bold;
    margin-bottom: 4px;
}

.cultivated_field_harvest_expect_date {

}

.cultivated_field_crop_category {

}

                    /*Cultivation staff table*/

#cultivation_staff_table, #cultivation_added_staff_table {
    height: 260px;
}

#cultivation_staff_table_head, #cultivation_added_staff_table_head {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

#cultivation_staff_table_head>p, #cultivation_added_staff_table_head>p {
    font-size: 13px;
    color: #5A5A5A;
    font-weight: bolder;
    margin-bottom: 0;
    margin-right: 130px;
}

::-webkit-scrollbar {
}

#cultivation_staff_table_body, #cultivation_added_staff_table_body {
    width: 100%;
    height: 215px;
    overflow: auto;
}

.cultivation_staff_card {
    display: flex;
    margin-bottom: 16px;
    border-radius: 7px;
}

.cultivation_staff_card:hover {
    background-color: #E9E9E9;
}

.cultivation_staff_card>p {
    font-size: 13px;
    margin-bottom: 0;
    align-self: center;
    font-weight: bolder;
}

.cultivation_staff_img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.cultivation_staff_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cultivation_staff_name {
    width: 128px;
    margin-left: 4px;
}

.cultivation_staff_role {
    width: 119px;
}

.cultivation_staff_email {
    width: 230px;
}

#cultivation_process_handler {
    padding: 10px;
    height: 90vh;
}

.cultivation_staff_assign_btn {
    width: fit-content;
    height: 33px;

    font-size: 13px;
    font-weight: bold;
    color: #444444;

    border: 0;
    border-radius: 3px;

    background-color: #AFCFFF;

    align-self: center;
}

.cultivation_staff_assign_btn:hover {
    background-color: #86B6FF;
}

#cultivation_resources_crop, #cultivation_added_resources_crop {
    margin-right: 2px;
}

#cultivation_resources_equipment, #cultivation_added_resources_equipment {
    margin-left: 2px;
}

#cultivation_process_handler_body {
    height: 803px;
}

#cultivation_process_handler_body {
    display: flex;
}

#cultivation_process_handler_body_left {
    width: 23%;
}

#cultivation_process_handler_body_right {
    padding: 10px;
    width: 77%;
}

#cultivation_process_handler_added_tables, #cultivation_process_handler_data_tables {
    height: 50%;
    display: flex;
    gap: 11px;
}

#cultivation_process_handler_data_tables {
    margin-top: 5px;
}

#cultivation_process_handler_added_tables>div, #cultivation_process_handler_data_tables>div {
    width: 400px;
    height: 100%;
}

#cultivation_handler_staff_data_table, #cultivation_handler_staff_added_table {
    width: 735px !important;
}

.staff_table_header {
    font-size: 23px;
    font-weight: bolder;
    color: #919191;
}