#field_section {
    display: flex;
    height: 90vh;
}

#field_main_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

                /*field header */

#field_sec_header {
    flex: 0 0 20%;
    padding: 20px;
}

#field_header_desc {
    display: flex;
}

#field_header_desc>h1 {
    font-size: 28px;
    color: #48484b;
    font-weight: bolder !important;
    margin-right: 20px;
}

#field_header_desc>button {
    font-size: 14px;
    height: 38px;
}

#field_mng_sec {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 5px;
}

#field_data {
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 45%;
}

#field_map {
    flex: 1;
    border: 2px solid black;
}

                        /*field data mng sec*/

#field_data_header {
    padding-left: 10px;
}

#field_data_header h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #676767;
}

#field_data_header p {
    color: #999999;
}

#field_categories {
    width: 100%;
    height: 50px;
    padding-left: 10px;

    display: flex;
    gap: 6px;
}

::-webkit-scrollbar {
    display: none;
}

#field_data_set {
    height: 520px;
    overflow: auto;
}

#fld_data_list {
    margin: 0;
    padding: 2px 10px;
    list-style: none;
}



                                  /*field card*/

.field_data_component {
    width: 100%;
    height: 175px;
    margin-bottom: 10px;
    display: flex;
}

.field_asset {
    width: 30%;
    box-sizing: border-box;
    padding: 5px;
}

.field_asset>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.field_details {
    width: 70%;

    display: flex;
}

.field_card_left {
    width: 65%;

    box-sizing: border-box;
    padding-left: 4px;
    font-weight: bolder !important;
}

.field_card_right {
    width: 35%;
    padding-top: 7px;
}

.field_name {
    font-size: 25px;
    color: #2b2a2a;
    margin: 0;
}

.field_size {
    font-size: 19px;
    color: #8b8b8b;
    margin: 0;
 }

.field_location {
    font-size: 16px;
    color: #313131;
    margin-bottom: 8px;
}

.growth_stat_tag {
    font-size: 11px;
    color: #8f8f8f;
    margin: 0;
}

.growth_stage {
    font-size: 20px;
    color: #0c873e;
    margin: 0;
}

.harvest_status {
    font-size: 13px;
    color: #109515;
    margin: 0;
}

.staff_stat {
    width: 100%;
    height: 50%;
    display: flex;
}

.staff_stat h1 {
    color: #48484b;
    font-size: 30px;
    font-weight: bolder !important;
    text-align: center;
}

.staff_stat i {

}

.staff_count {
    width: 50%;

}

.equipment_count {
    width: 50%;

}

.update_btn {
    height: 50%;
    padding-right: 21px;
    display: flex;
    justify-content: flex-end;
}

.update_btn>button {
    width: 55px;
    height: 55px;

    color: white;
    font-size: 20px;

    border: 0;
    border-radius: 100px;
    background-color: #56567B;
}